* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.countdown {
    background: #000000;
    min-height: 80vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content {
    padding-top: 15%;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.timer div {
    flex-basis: 100px;
    margin-right: 5px;
}

.timer div p {
    font-size: 30px;
    border: 2px solid #fff;
    margin-bottom: 0;
    padding: 5px;
}